:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "poppins", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}
:root {
  --color-default: rgb(34, 40, 49);
  --color-primary: #00adb5;
  --color-secondary: #eee;
  --color-tertiary: rgb(57, 62, 70);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-default);
}
h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}

h2 {
  line-height: 3;
  font-size: 60px;
  font-weight: bold;
  z-index: 999;
  margin-bottom: 10px;
}
.title {
  color: var(--color-secondary);
}
.subtitle {
  color: var(--color-primary);
}

.arrow-box i {
  position: relative;
  z-index: 999;
  color: var(--color-primary);
  font-size: 30px;
  transform: translateX(-50%);
  line-height: 1024px;
  left: 15px;
}
.arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-tertiary);
  margin-bottom: 40px;
}
/*--------------------------------------------------------------
# Vertical & Horizontal Line
--------------------------------------------------------------*/
.vertical-line {
  margin-top: -20px;
  position: absolute;
  width: 0.1px;
  opacity: 0.5;
  height: 670px;
  background-color: var(--color-tertiary);
  left: 33%;
  transform: translateX(-25%);
  z-index: 1;
}

.horizontal-line {
  border: none;
  height: 1px;
  background-color: var(--color-tertiary);
  width: 100%;
  margin: 0;
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
.navbar {
  position: relative;
  padding: 10px;
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 1% 2%;
}

.navbar .col-6 {
  display: flex;
  align-items: center;
}

.navbar-name {
  font-weight: bold;
  color: var(--color-secondary);
  text-decoration: none;
  font-size: 20px;
  margin: 0;
}

.navbar-name:hover {
  color: var(--color-tertiary);
}

.navbar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto; /* Menggeser menu ke kanan */
}

.navbar-menu li {
  margin-right: 15px; /* Mengurangi margin agar menu lebih rapat */
}

.navbar-menu li a {
  text-decoration: none;
  color: var(--color-secondary);
}

.navbar-menu li a:hover {
  color: var(--color-tertiary);
}

/*--------------------------------------------------------------
# Home
--------------------------------------------------------------*/
#home {
  position: relative;
  background-image: url("assets/svg/frame1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#home .whoiam {
  line-height: 1.2;
  top: 90px;
  font-size: 60px;
  font-weight: bold;
  margin-left: 80px;
  position: relative;
  z-index: 2;
}


#home .whoiam .first-line {
  color: var(--color-secondary);
  margin-top: 20px;
}

#home .whoiam .second-line {
  color: var(--color-primary);
  line-height: 1.2;
  margin-top: 30px;
}
#home .button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

#home .button1,
.button2 {
  font-family: var(--font-primary);
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px 0;
  margin-right: 30px;
  font-size: 17px;
  border: none;
  border-radius: 20px;
  text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.81);
  display: flex;
  align-items: center;
  justify-content: center;
}

#home .button1 {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

#home .button2 {
  text-decoration: none;
  background-color: var(--color-tertiary);
  color: var(--color-secondary);
}

#home .button1:hover,
.button2:hover {
  border: 1px solid var(--color-secondary);
}

#home .button2 span {
  margin-right: 10px;
}

#home .button2 i {
  font-size: 20px;
}

#home .arrow-box {
  margin-top: 370px;
  margin-left: 30.7%;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  position: relative;
  background-image: url("assets/svg/frame2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.about-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#about h2 {
  top: 90px;
  position: relative;
}

#about .about-left p {
  margin-top: 30px;
  color: var(--color-secondary);
}

#about .about-right {
  text-align: center;
}

.about-right lottie-player {
  width: 100%;
  height: auto;
  max-width: 600px;
  max-height: 600px;
}

#about .arrow-box{
  margin-left: 28%;
  margin-top: -2%;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

#portfolio {
  position: relative;
  background-image: url("assets/svg/frame3.svg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}
#portfolio h2 {
  text-align: center;
  margin-bottom: -40px;

}
#portfolio p {
  font-size: 14px;
  text-align: center;
  font-family: var(--font-primary);
  color: var(--color-secondary);
  margin-bottom: 20px;
}
.card {
  background-color: rgba(57, 62, 70,0.5);
  position: relative;
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.card:hover img {
  transform: scale(1.1);
  filter: blur(4px);
}

.card .caption {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 2;
  background-color:rgba(34, 40, 49, 0.9) ;
  padding: 10px;
  
}

.card:hover .caption {
  opacity: 1;
}

.card h3 {
  color: var(--color-secondary);
  font-family: var(--font-primary);
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}
.card h4{
  color: var(--color-primary);
  font-family: var(--font-primary);
  font-weight: bold;
  font-size: 14px;
}

#portfolio .card p {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-size: 12px;
  margin-top: 10px;
}

/*--------------------------------------------------------------
# Mobile Mode
--------------------------------------------------------------*/
@media (max-width: 768px) {
  .vertical-line {
    left: 37.5%;
    display: block;
    height: 700px;
  }

  .navbar-name {
    font-size: 16px;
    margin-left: 0%;
  }
  .navbar-menu li{
    font-size: 12px;
    margin-right: 10px;
  }

  #home .button1,
  .button2 {
    margin-right: 10px;
  }

  #home .whoiam {
    font-size: 40px;
    margin-left: 5%;
  }
  #home .button1,
  .button2 {
    margin-right: 10px;
  }

  #home .whoiam {
    font-size: 40px;
    margin-left: 5%;
  }
  .arrow-container {
    position: absolute;
    bottom: 20px;
    left: 33%;
    transform: translateX(-50%);
    z-index: 999;
  }

  .arrow-box {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 2%;
  }
  #about .col-md-6 {
    height: 300px;
  }
  .about-left {
    position: relative;
    text-align: center;
    top: -35%;
  }

  .about-right lottie-player {
    max-width: 350px;
    max-height: 350px;
  }

  #portfolio {
    justify-content: flex-start;
  }
  .card {
    margin-left: 8%;
    margin-bottom: 20px;
  }
}


@media (max-width: 480px) {
  .about-right lottie-player {
    max-width: 300px;
    max-height: 300px;
  }


}


