:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "poppins", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
  }
  :root {
    --color-default: #222831;
    --color-primary: #00adb5;
    --color-secondary: #eee;
    --color-tertiary: #393e46;
  }
  
  body {
    font-family: "Poppins", Arial, sans-serif;
    background-color: var(--color-default);
  }
  
  /*--------------------------------------------------------------
  # Vertical & Horizontal Line
  --------------------------------------------------------------*/
  .vertical-line {
    position: absolute;
    width: 0.1px;
    opacity: 0.5;
    height: 715px;
    background-color: var(--color-tertiary);
    left: 33%;
    transform: translateX(-25%);
    z-index: 1;
  }
  @media (max-width: 768px) {
    .vertical-line {
      display: block;
      height: 814px;
    }
  }
  
  .horizontal-line {
    border: none;
    height: 1px;
    background-color: var(--color-tertiary);
    width: 100%;
    margin: 0;
  }
  
  /*--------------------------------------------------------------
  # Navbar
  --------------------------------------------------------------*/
  .navbar {
    position: relative;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 1% 2%;
  }
  
  .navbar-name {
    font-weight: bold;
    color: var(--color-secondary);
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar-name:hover {
    color: var(--color-tertiary);
  }
  
  .navbar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-menu li {
    margin-right: 25px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: var(--color-secondary);
  }
  
  .navbar-menu li a:hover {
    color: var(--color-tertiary);
  }
  
  /* Menu Burger */
  .burger-menu {
    display: none; /* Sembunyikan menu burger secara default */
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 20px;
  }
  
  .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-secondary);
    transition: transform 0.3s ease-in-out;
  }
  
  .bar:first-child {
    top: 0;
  }
  
  .bar:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .bar:last-child {
    bottom: 0;
  }
  
  /* Tampilan Navbar pada Layar Handphone */
  @media (max-width: 768px) {
    .navbar-menu {
      display: none; /* Sembunyikan menu navbar pada layar handphone */
    }
  
    .burger-menu {
      display: block; /* Tampilkan menu burger pada layar handphone */
    }
  
    .navbar.active .bar:first-child {
      transform: translateY(8px) rotate(45deg);
    }
  
    .navbar.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .navbar.active .bar:last-child {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  /* End Navbar */
  
  /*--------------------------------------------------------------
  # Home
  --------------------------------------------------------------*/
  
  #home {
    position: relative;
    background-image: url("assets/svg/frame1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  
  #home .whoiam {
    line-height: 1.2;
    top: 90px;
    font-size: 60px;
    font-weight: bold;
    margin-left: 80px;
    position: relative;
    z-index: 2;
  }
  
  #home .whoiam .first-line {
    color: var(--color-secondary);
    margin-top: 20px;
  }
  
  #home .whoiam .second-line {
    color: var(--color-primary);
    line-height: 1.2;
    margin-top: 30px;
  }
  #home .button-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  }
  
  #home .button1,
  .button2 {
    font-family: var(--font-primary);
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px 0;
    margin-right: 30px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    text-shadow: 3px 2px 4px rgba(0, 0, 0, 0.81);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #home .button1 {
    background-color: var(--color-primary);
    color: var(--color-secondary);
  }
  
  #home .button2 {
    text-decoration: none;
    background-color: var(--color-tertiary);
    color: var(--color-secondary);
  }
  
  #home .button1:hover,
  .button2:hover {
    border: 1px solid var(--color-secondary);
  }
  
  #home .button2 span {
    margin-right: 10px;
  }
  
  #home .button2 i {
    font-size: 20px;
  }
  
  @media (max-width: 768px) {
    #home .button1,
    .button2 {
      margin-right: 10px;
    }
  
    #home .whoiam {
      font-size: 40px;
    }
  }
  
  #home .arrow-icon {
    position: relative;
    z-index: 999;
    color: var(--color-primary);
    font-size: 30px;
    /* margin-left: 31.4%; */
    transform: translateX(-50%);
    line-height: 1024px;
    left: 15px;
  }
  .arrow-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--color-tertiary);
    margin-left: 30.7%;
    margin-top: 370px;
    margin-bottom: 40px;
  }
  .arrow-box i {
    position: relative;
    top: 2px;
    color: var(--color-secondary);
    font-size: 40px;
    transform: translateX(-50%);
  }
  
  @media (max-width: 768px) {
    .arrow-box {
      margin-left: 28%;
      margin-top: 530px;
    }
  }
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  #about {
    position: relative;
    background-image: url("assets/svg/frame2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
  }
  .about-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  #about .about-left h2 {
    line-height: 3;
    top: 90px;
    font-size: 60px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
  }
  #about .about-left .about-title {
    color: var(--color-secondary);
  }
  #about .about-left .about-subtitle {
    color: var(--color-primary);
  }
  #about .about-left p {
    margin-top: 30px;
    margin-right: 40%;
    color: var(--color-secondary);
  }
  
  #about .about-right {
    text-align: center;
  }
  
  .about-right lottie-player {
    width: 100%;
    height: auto;
    max-width: 600px;
    max-height: 600px;
  }
  
  @media (max-width: 768px) {
    .about-right lottie-player {
      max-width: 400px;
      max-height: 400px;
    }
  }
  
  @media (max-width: 480px) {
    .about-right lottie-player {
      max-width: 300px;
      max-height: 300px;
    }
  }
  @media (max-width: 768px) {
    .vertical-line {
      display: block;
      position: absolute;
      width: 1px;
      opacity: 0.5;
      height: calc(100vh - 200px); /* Sesuaikan ketinggian vertikal sesuai dengan kebutuhan */
      background-color: var(--color-tertiary);
      left: 50%; /* Pusatkan garis vertikal */
      transform: translateX(-50%);
      z-index: 1;
    }
  
    
  
    /* Navbar */
    .navbar {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .navbar-name {
      margin-bottom: 10px;
    }
  
    .navbar-menu {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar-menu li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    /* Home */
    #home .whoiam {
      top: 30px;
      font-size: 40px;
      text-align: center;
      margin-left: 0;
    }
  
    #home .button-container {
      justify-content: center;
      margin-bottom: 20px;
    }
  
    #home .button1,
    .button2 {
      margin-right: 10px;
      margin-bottom: 10px;
    }
    #home .arrow-box {
    margin-left: 50%;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
    /* About */
    #about .about-left h2 {
      font-size: 40px;
      text-align: center;
      margin-bottom: 0;
    }
  
    #about .about-left p {
      margin-right: 0;
      text-align: center;
    }
  }
  